APP_NAME="Luma ESL"
APP_URL=http://localhost:8080
APP_ENV=local
APP_MAIL_FROM=hello@luma.test

DB_DRIVER=sqlite
DB_PATH=database/demo.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=luma_esl
DB_USERNAME=root
DB_PASSWORD=
